@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
    *{
        margin: 0;
        padding: 0;
    }
    body {
        background-color: #000000;
        color: #ffffff;
    }
    a:hover{ 
        background-color: rgba(11, 108, 187, 0.343) !important;
    }
    .speciallityes__lang{
        color: #22D4FD;
        padding: 10px;
        font-family: 'Krona One';  
    }
    .speciallityes__lang:hover{
        padding: 5px 0px;
        color: #F0DB4F;
        text-decoration: none;
        cursor: pointer;
        
    }

    
    h1{
        font-weight: bold; 
    }
    .cabecalho{
        padding: 2% 0% 0% 15%;
    }
    .cabecalho_menu{
        display: flex;
        gap: 80px;
    }
    .cabecalho__menu__link{
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        font-weight: 600;
        color: #22D4FD;
        text-decoration: none;

    }

    .apresentacao{
        margin: 9% 16%;
        display: flex;
        align-items: center;
        justify-content: space-between;
            
    }
    .apresentacao__conteudo{
        width: 635px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .apresentacao__conteudo__titulo{
        font-size: 29px;
        height: 141px;
        font-weight: 400;
        font-family: 'Krona One', sans-serif;
    }
   .worked{
    height: 20px !important;
   } 
    .apresentacao__links{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
    }
    .apresentacao__conteudo__texto{
        color: #F6F6F6;
        font-family: 'Montserrat';
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        gap: 40px;
    }
    .apresentacao__conteudo__texto__especial{
        color: #F6F6F6 !important;
        font-family: 'Montserrat';
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        gap: 40px;
    }

    .apresentacao__conteudo__texto a{
    
        text-decoration: none;
        color: #000000;
        font-style: italic;
    }

    .apresentacao__conteudo__texto:hover{
        padding: 15%;
        font-weight: 600;
        font-size: 27px;;
        color: rgba(0, 0, 0, 0.924);
        background-color: #22D4FD;
        border-radius: 10px 100px;
        transition-duration: 2s;
    }

    .apresentacao__links_subtitulo{
        font-family: 'Krona One','sans-serif';
        font-weight: 400;
        font-size: 24px;

    }
    .sobremim{
        padding: 15%;
        display: inline-block;
    }
        .apresentacao__links_link{
        border: 2px solid #22D4FD;
        width: 378px;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        font-size: 24px;
        font-weight: 600;
        padding: 16px;
        text-decoration: none;
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        display: flex;
        gap: 16px;
    }
    .apresentacao__links_link:hover{
        background-color: #272727;
        padding: 3%;

    }
    .rodape{
        padding: 24px;
        color: #000000;
        background-color: #22D4FD;
        text-align: center;
        font-family: 'Montserrant', sans-serif;
        font-size: 24px;
        font-weight: 400;
    }
    .perfcurriculo{
        padding: 98px 90px 95px 96px;
        border-radius: 458px  690px;
    }