@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
    :root{
        --cor-primaria: #000000;
        --cor-secundaria: #f6f6f6;
        --cor-terciaria: #22d4fd;
        --cor-hover: #F0DB4F;


        --fonte-primaria: 'Krona One', sans-serif;
        --font-secundaria: 'Montserrat', sans-serif;
    }
    *{
        margin: 0;
        padding: 0;
    }
    body {
        background-color: var(--cor-primaria);
        color: var(--cor-secundaria);
    }
    a:hover{ 
        background-color: rgba(11, 108, 187, 0.343) !important;
    }
    .speciallityes__lang{
        color: var(--cor-terciaria);
        padding: 10px;
        font-family: 'Krona One';  
    }
    .speciallityes__lang:hover{
        padding: 5px 0px;
        color: var(--cor-hover);
        text-decoration: none;
        cursor: pointer;
        
    }

    
    h1{
        font-weight: bold; 
    }
    .cabecalho{
        padding: 2% 0% 0% 15%;
    }
    .cabecalho_menu{
        display: flex;
        gap: 80px;
        justify-content: space-around;
    }
    .cabecalho__menu__link{
        font-family: var(--font-secundaria);
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--cor-terciaria);
        text-decoration: none;

    }
    .conteudo__about{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap:82px;

    }

    .apresentacao{
        padding: 9% 16%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap:82px;            
    }
    .apresentacao__conteudo{
        width: 635px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .apresentacao__conteudo__titulo{
        font-size: 1.813rem;
        height: 141px;
        font-weight: 400;
        font-family: var(--fonte-primaria);
    }
   .worked{
    height: 20px !important;
   } 
    .apresentacao__links{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
    }
    .apresentacao__conteudo__texto{
        color:var(--cor-secundaria);
        font-family:var(--font-secundaria);
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        gap: 40px;
    }
    .apresentacao__conteudo__texto__especial{
        color:var(--cor-secundaria);
        font-family: var(--font-secundaria);
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        gap: 40px;
    }

    .apresentacao__conteudo__texto a{
    
        text-decoration: none;
        color:var(--cor-primaria);
        font-style: italic;
    }

  
    .apresentacao__links_subtitulo{
        font-family: var(--fonte-primaria);
        font-weight: 400;
        font-size: 1.5rem;

    }
    .sobremim{
        padding: 15%;
        display: inline-block;
    }
        .apresentacao__links_link{
        border: 2px solid var(--cor-terciaria);
        width: 378px;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        font-size: 1.5rem;
        font-weight: 600;
        padding: 16px;
        text-decoration: none;
        color:var(--cor-secundaria);
        font-family: var(--font-secundaria);
        display: flex;
        gap: 16px;
    }
    .apresentacao__links_link:hover{
        padding: 3%;

    }
    .rodape{
        padding: 24px;
        color: var(--cor-primaria);
        background-color: var(--cor-terciaria);
        text-align: center;
        font-family: var(--font-secundaria);
        font-size: 1.5rem;
        font-weight: 400;
    }
    .perfcurriculo{
        border-radius: 643px 690px;
        width: 43%;
        margin-block: -5% 28%;
        margin-right: -101px;
    }
    @media (max-width: 1200px){
        .cabecalho{
            padding: 20%;
            gap: 40px;
            display: flex;
        } 
        .cabecalho_menu{
            justify-content: center;
        }                  
        .apresentacao{
            flex-direction: column-reverse;
        }
        .apresentacao__conteudo {
            flex-wrap: wrap;
            width: 83%;
        }
        .conteudo__about{
            flex-direction: column-reverse;
            justify-content: center;
        }
        .apresentacao__conteudo__titulo{
            height: 71px;
        }
        .perfcurriculo{
            width: 40%;
            border-radius: 643px 690px;
            margin-block: -5% 28%;
            margin-right: -101px;
        }
        
    }
    @media(max-width: 425px) and (min-width: 320px)
    {       
        .apresentacao{
            gap: 15px;
        }
        .apresentacao__conteudo {
            flex-wrap: wrap;
            width: 83%;
        }
        .rodape{
            padding: 24px;
            color: var(--cor-primaria);
            background-color: var(--cor-terciaria);
            text-align: center;
            font-family: var(--font-secundaria);
            font-size: 1.5rem;
            font-weight: 400;
            }
        .perfcurriculo{
            width: 40%;
            border-radius: 643px 690px;
            margin-block: -5% 28%;
            margin-right: -101px;
        }
    
}

    
        
    